body {
    font-family: sugar;
    font-size: 1.6rem;
}

.info-container h1 {
    color: rgb(255, 49, 49);

    
}

.info-container {
    margin-left: 7rem;
    margin-right: 7rem;
    margin-top: 3rem;
   
}