.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
}
@font-face {
    font-family: titleFont;
    src: url(../../fonts/Cookiemonster-gv11.ttf)
  }

@font-face {
    font-family: sugar;
    src: url(../../fonts/SugarHandy-BLWlw.ttf)
}
  
.raabaBtn {
    font-family: titleFont;
    text-decoration: none;
    font-size: 7rem;
    color: rgb(0, 0, 0);
    margin-left: 4rem;
}

.navBtn{
    font-family: sugar;
    text-decoration: none;
    margin-right: 3rem;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    color: black
    
}

.link-wrapper {
    margin-top: 2rem;
    margin-right: 1rem;
}

.link-wrapper .navBtn:hover {
    color: rgb(252, 252, 252);
    background-color: rgb(255, 49, 49);
    transition: 0.3s;
    padding: 10px 10px;
    border-radius: 30px;

}